.ox {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.idle {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.strong {
  font-size: 25px;
  color: rgb(255, 74, 74);
}

.currentPage {
  border: none;
  border-radius: var(--card-radius);
  padding: 5px 8px;
  outline: none;
  background-color: rgb(10, 10, 10);
  width: 50px;
  color: yellow;
  font-size: 18px;
  box-shadow: var(--card-shadow);
  margin: 0 20px;
  text-align: center;
}

.navBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 30px;
  color: wheat;
}
